.chat-container{
    text-align: center;
}
h1{
    font-size: 100 px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ai-text{
   white-space: pre-line;
  line-height: 1.6;
  max-width: 650 px;
  margin: 20 px auto;
  font-size: 16 px;
  color: #333;
}
